@model librarymenagment.Models.Book

@{
    ViewData["Title"] = "Edit Book";
}

<h1 class="mt-4">Edit Book</h1>
<hr />
<div class="row border mt-4" style="background: white;">
    <div class="col-12 col-md-6 p-4">
        <form class="d-flex flex-column gap-2" asp-area="" asp-controller="Books" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Copies" class="control-label"></label>
                <input asp-for="Copies" class="form-control" />
                <span asp-validation-for="Copies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label">Author</label>
                <select asp-for="AuthorId" class="form-control" asp-items="@(ViewData["AuthorId"] as SelectList)">
                    <option value="">-- Select an Author --</option>
                    @foreach (var author in (SelectList)ViewData["AuthorId"])
                    {
                        <option value="@author.Value" selected="@(author.Selected ? "selected" : "")">@author.Text</option>
                    }
                </select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="@(ViewData["CategoryId"] as SelectList)">
                    <option value="">-- Select a Category --</option>
                    @foreach (var category in (SelectList)ViewData["CategoryId"])
                    {
                        <option value="@category.Value" selected="@(category.Selected ? "selected" : "")">@category.Text</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input asp-for="Active" class="form-check-input" type="checkbox" />
                <label class="form-check-label" asp-for="Active"></label>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-area="" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
    <div class="col-12 col-md-6 p-0">
        <img class="w-100 h-100" src="/images/book-background.jpg" alt="Background Image" />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
