@model IEnumerable<librarymenagment.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Add Filter Form -->
<form asp-action="Index" method="get">
    <div class="row mb-3">
        <div class="col-md-3">
            <label class="form-label">Title:</label>
            <input type="text" name="searchTitle" class="form-control" value="@ViewData["CurrentTitleFilter"]" />
        </div>
        <div class="col-md-3">
            <label class="form-label">Author:</label>
            <select name="authorId" class="form-select">
                <option value="" selected="@(string.IsNullOrEmpty(ViewData["CurrentAuthorFilter"]?.ToString()))">All Authors</option>
                @foreach (var author in (IEnumerable<librarymenagment.Models.Author>)ViewBag.Authors)
                {
                    <option value="@author.id" selected="@(author.id.ToString() == ViewData["CurrentAuthorFilter"]?.ToString())">
                        @author.name @author.last_name
                    </option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Category:</label>
            <select name="categoryId" class="form-select">
                <option value="" selected="@(string.IsNullOrEmpty(ViewData["CurrentCategoryFilter"]?.ToString()))">All Categories</option>
                @foreach (var category in (IEnumerable<librarymenagment.Models.Category>)ViewBag.Categories)
                {
                    <option value="@category.id" selected="@(string.IsNullOrEmpty(ViewData["CurrentCategoryFilter"]?.ToString()))">
                        @category.name
                    </option>
                }
            </select>
        </div>
        <div class="col-md-3 d-flex align-items-end">
            <button type="submit" class="btn btn-primary me-2">Apply Filters</button>
            <a asp-action="Index" class="btn btn-secondary">Clear Filters</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Copies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Author.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Category.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Copies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.name) @Html.DisplayFor(modelItem => item.Author.last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
