@model librarymenagment.Models.Available

@{
    ViewData["Title"] = "Available Details";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Available Details</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">Available Details</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-info-circle me-1"></i> Available Details
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9">@Model.Name</dd>

                <dt class="col-sm-3">DataPorosise</dt>
                <dd class="col-sm-9">@Model.DataPorosise.ToShortDateString()</dd>

                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">@Model.Status</dd>

                <dt class="col-sm-3">Address</dt>
                <dd class="col-sm-9">@Model.Address</dd>
            </dl>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>