@model librarymenagment.Models.Author

<div class="book-details-container">
    <h1 class="page-title">Author Details</h1>
    
    <div class="book-info-card">
        <h4 class="card-title">Author Information</h4>
        <hr />
        <dl class="row details-list">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UpdatedAt)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Active)
            </dd>
        </dl>

        <div class="action-buttons">
            <a class="btn btn-secondary" asp-area="" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>